body {
  background-color: #f1f1f1;
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  padding: 5px 10px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

/*contains everything on the page*/
.content {
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;


}

/*primary area on the right that contains the canvas*/
#main {
  width: 80%;
  height: 100%;
  background-color: selectedColor;
}

/*main painting canvas */
#canvas {
  width: 70%;
  height: 90%;
  border: 0;
  margin: 0 auto;
  display: block;
  padding: 10px;
  float: right;
  margin-right: 55px;
  margin-top: 25px;
}

/*Content on the side ie: paint palette, buttons, and title */
#sidePiece {
  display: inline-block;
  width: 20%;
  height:100%;
  padding-left: 30px;
  padding-top: 15px;
  background-color: #26334A;

}

/*the container for the title that will be placed in the top left of the sidebar*/
#title {
  padding: 10px;
  text-align: center;
  color: #F87217;
}

/* Layout of the colors that can be selected for painting */
.swatch {
  display: inline-block;
  padding: 10px;
  height: 20px;
  width:30px;
  border: 1px solid black;

}

/* Assigns rules to the undo, clear, and erase buttons */
#btnErase {
  width: 100px;
  height: 30px;
  padding: 10px;
  display: inline;
  position: absolute;
  margin-top: 650px;
  margin-left: 50px;


}

#btnClear {
  width: 100px;
  height: 30px;
  padding: 10px;
  display: inline;
  position: absolute;;
  margin-top: 650px;
  margin-left: 150px;
}




